@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>施工</title>
    <meta name="viewport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0,
                                     user-scalable=no">
    <link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/datepicker/default.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/datepicker/default.date.css" />
</head>

<body style="padding: 1em;">
    <div class="container" style="max-width: 400px;">
        <div class="row">
            <form role="form" action="saveProjectLog" method="post">
                <div class="form-group">
                    <label class="control-label" for="txt_logName"><span style="color: red;">*</span>施工原因：</label>
                    <input type="text" class="form-control" id="txt_logName" name="LogName" placeholder="请输入日志名" required />
                </div>
                <div class="form-group">
                    <label class="control-label" for="txt_services"><span style="color: red;">*</span>服务款项：</label>
                    <select class="form-control" id="txt_services" name="ServiceID"></select>
                </div><div class="form-group">
                    <label class="control-label" for="txt_Type"><span style="color: red;">*</span>类型：</label>
                    <select class="form-control" id="txt_Type" name="txt_Type" onchange="typeChange(this.value);">
                        <option value="ProjectStart">施工日期</option>
                        <option value="DompletedDate">竣工日期</option>
                        <option value="DompletedAcceptanceDate">取得竣工验收单日期</option>
                    </select>
                </div>
                <div class="form-group">
                    <div class="input-append date form_datetime">
                        <label class="control-label" id="lbl_dateType" for="txt_Date"><span style="color: red;">*</span>施工日期：</label>
                        <input class="form-control datepicker" type="text" id="datetimepicker" name="ProjectStart">
                    </div>
                </div>
                <div class="form-group">
                    <div class="text-center">
                        <button class="btn btn-primary" id="btn_save" type="submit">保存</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script src="~/Scripts/js/addProjectLog.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Scripts/js/addContract.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Scripts/js/bootstrap/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Scripts/js/bootstrap/bootstrap.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Scripts/js/datepicker/picker.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Scripts/js/datepicker/picker.date.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Scripts/js/datepicker/zh_CN.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Scripts/js/webshim/polyfiller.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        var Contract_DataJson="@ViewBag.Contract_DataJson";
			$('.datepicker').pickadate({
				format: 'yyyy-mm-dd'
			});
			document.getElementById("datetimepicker").value = new Date().Format("yyyy-MM-dd");
    </script>
    <script type="text/javascript">
			webshim.activeLang('zh-CN');
			webshims.polyfill('forms');
			webshims.cfg.no$Switch = true;
    </script>
</body>

</html>