@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
   
    <title>合同报表管理系统</title>
    <link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/datepicker/default.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/datepicker/default.date.css" />
    <script language="javascript" type="text/javascript">
            var arr ="@ViewBag.ss";
        var arrID = '@ViewBag.s1';
        
    </script>
    <meta name="viewport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0,
                                     user-scalable=no" />
</head>
<body>
    <div class="container">
        <div class="row">
            <label class="list-group-item text-center active navbar-fixed-top" id="contractList" style="position: fixed; max-width: 83.5em; margin: auto;">
                <span class="glyphicon glyphicon-plus pull-left" style="font-size: 1.3em;cursor: pointer;" title="添加合同"></span>
                合同
                <span class="glyphicon glyphicon-search pull-right" style="font-size: 1.3em;cursor: pointer;" title="搜索合同"></span>
                <span class="glyphicon glyphicon-stats pull-right" style="font-size: 1.3em;margin-right: 20px;cursor: pointer;" title="统计"></span>
            </label>
            <div id="contractListItems" style="margin-top: 3em;">

            </div>
            <button class="btn btn-default" style="width: 100%; margin-top: 1em;" id="more" type="button" onclick="lazyLoad()">加载更多</button>
        </div>

        <div class="modal fade" id="filter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            搜索
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="form-group">
                                <label class="control-label" for="txt_keyword">关键词：</label>
                                <input type="text" class="form-control" style="display: inline;width: 70%;" id="txt_keyword" name="txt_keyword" placeholder="请输入关键词" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-append date form_datetime">
                                <label class="control-label">合同签署日期：</label>
                                <br />
                                <label class="control-label">从&nbsp;</label>
                                <input class="form-control datepicker" style="display: inline;width: 32%;" type="text" id="txt_startDate" name="txt_startDate" required />
                                <label class="control-label">&nbsp;到&nbsp;</label>
                                <input class="form-control datepicker" style="display: inline;width: 32%;" type="text" id="txt_endDate" name="txt_endDate" required />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            关闭
                        </button>
                        <button type="button" class="btn btn-primary" onclick="filterContract()">
                            确定
                        </button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal -->
        </div>
        <button class="btn btn-danger margin-left" type="button" id="deleteContract" >hh</button>
    </div>
  
    <script src="http://g.alicdn.com/dingding/open-develop/1.6.9/dingtalk.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://g.alicdn.com/dingding/dingtalk-pc-api/2.7.0/index.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Scripts/js/bootstrap/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Scripts/js/bootstrap/bootstrap.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Scripts/js/datepicker/picker.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Scripts/js/datepicker/picker.date.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Scripts/js/datepicker/zh_CN.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Scripts/js/webshim/polyfiller.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Scripts/js/main.js" type="text/javascript" charset="utf-8"></script>

    @*<script src="~/Scripts/js/PCdemo.js" type="text/javascript" charset="utf-8"></script>*@
    
    <script type="text/javascript">
			$('.datepicker').pickadate({
				format: 'yyyy-m-d',
				container: 'body'
			});

			var p = "@ViewBag.p";
        var signPackage
        
    </script>
    <script type="text/javascript">
			webshim.activeLang('zh-CN');
			webshims.polyfill('forms');
			webshims.cfg.no$Switch = true;

    </script>
</body>

</html>

