@{
    Layout = null;
}
<!DOCTYPE html>
<html style="background-color: #DAD8D9;">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0,
                                     user-scalable=no">
    <link rel="stylesheet" type="text/css" href="~/Content/css/noPremission.css" />
    <title></title>
</head>

<body>
    <div class="loader">

    </div>
    <div class="vertical-center" style="display: none;">
        <img src="../../Content/img/lock.png" style="display: block; margin: auto; margin-bottom: 1em;" />
        <label>抱歉...当前您没有访问权限，请联系管理员</label>
    </div>
    <script src="http://g.alicdn.com/dingding/open-develop/1.6.9/dingtalk.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://g.alicdn.com/dingding/dingtalk-pc-api/2.7.0/index.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js" type="text/javascript" charset="utf-8"></script>
   
    <script src="~/Scripts/js/bootstrap/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Scripts/js/Demo.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        var p = "@ViewBag.p";
    </script>
   
</body>
